  .title{
    margin-top:15vh;
    text-align: center;
  }
  
  .Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15vh;
  }

  .Auth-form {
    margin:auto 5vh;
    height:400px;
    width: 450px;
    min-width: 300px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid lightgray
  }

  .sign-in{
    height:470px;
  }
  
  .Auth-form-content {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
  }

